<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=W:\Work\PROJECTS\Assetio\Asset Commander 1.0\code\0.1 Play\rsti.acmd\Assetio.AssetCommander.Web\App_Data\AssetCommander.mdf;Initial Catalog=AssetCommander;Integrated Security=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>